<a href="https://colab.research.google.com/github/aparnashenoy/ml/blob/master/AIS_data_geohash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [2]:
path = '/gdrive/My Drive/'

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
#import file
df = pd.read_csv(path + 'ais_data_version2.csv')

In [5]:
!pip install pygeohash

Collecting pygeohash
  Downloading pygeohash-1.2.0.tar.gz (5.0 kB)
Building wheels for collected packages: pygeohash
  Building wheel for pygeohash (setup.py) ... done
  Created wheel for pygeohash: filename=pygeohash-1.2.0-py2.py3-none-any.whl size=6167 sha256=59849dc247165325361c4b45c1011daf22d08f623f61a8bcf0a5f39f75b2296a
  Stored in directory: /root/.cache/pip/wheels/e2/ed/86/be7141d743cfb4aebac76406187154cd78fe9e6535d872187a
Successfully built pygeohash
Installing collected packages: pygeohash
Successfully installed pygeohash-1.2.0

In [6]:
import pygeohash as gh

In [7]:
df.head()

,Unnamed: 0,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TransceiverClass
0,0,367339240,2021-09-30T00:00:02,36.99416,-89.15366,0.3,350.0,328.0,SHERRYL B REEVES,NaN,WDE3451,Tug Tow,12.0,48.0,12.0,NaN,57.0,A
1,1,316020871,2021-09-30T00:00:02,48.70558,-123.54449,0.0,61.4,109.0,SEASPAN EAGLE,IMO9432971,CFN6642,Tug Tow,0.0,28.0,12.0,5.3,32.0,A
2,2,368033750,2021-09-30T00:00:02,38.96336,-76.48107,0.0,360.0,281.0,OCEANAIRE,IMO0000000,WDK2245,Pleasure Craft/Sailing,NaN,16.0,4.0,NaN,NaN,B
3,3,338329872,2021-09-30T00:00:04,41.63435,-71.21239,0.0,360.0,511.0,POR-SHA,IMO0000000,NaN,Pleasure Craft/Sailing,NaN,10.0,3.0,NaN,NaN,B
4,4,338400879,2021-09-30T00:00:04,42.37885,-87.80212,12.7,202.1,511.0,LADY B,IMO0000000,NaN,Pleasure Craft/Sailing,NaN,17.0,5.0,NaN,NaN,B

In [8]:
df['geohash']=df.apply(lambda x: gh.encode(x.LAT, x.LON, precision=5), axis=1)

In [9]:
df

,Unnamed: 0,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TransceiverClass,geohash
0,0,367339240,2021-09-30T00:00:02,36.99416,-89.15366,0.3,350.0,328.0,SHERRYL B REEVES,NaN,WDE3451,Tug Tow,12.0,48.0,12.0,NaN,57.0,A,dn8d7
1,1,316020871,2021-09-30T00:00:02,48.70558,-123.54449,0.0,61.4,109.0,SEASPAN EAGLE,IMO9432971,CFN6642,Tug Tow,0.0,28.0,12.0,5.3,32.0,A,c28jh
2,2,368033750,2021-09-30T00:00:02,38.96336,-76.48107,0.0,360.0,281.0,OCEANAIRE,IMO0000000,WDK2245,Pleasure Craft/Sailing,NaN,16.0,4.0,NaN,NaN,B,dqcte
3,3,338329872,2021-09-30T00:00:04,41.63435,-71.21239,0.0,360.0,511.0,POR-SHA,IMO0000000,NaN,Pleasure Craft/Sailing,NaN,10.0,3.0,NaN,NaN,B,drmkg
4,4,338400879,2021-09-30T00:00:04,42.37885,-87.80212,12.7,202.1,511.0,LADY B,IMO0000000,NaN,Pleasure Craft/Sailing,NaN,17.0,5.0,NaN,NaN,B,dp994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8849475,9106173,338926439,2021-09-30T22:50:57,13.42388,144.66368,0.0,125.1,326.0,CGC MYRTLE HAZARD,NaN,NMHD,Other,0.0,44.0,8.0,0.0,90.0,A,x4qu7
8849476,9106174,338926439,2021-09-30T22:59:07,13.42386,144.66368,0.0,125.1,326.0,CGC MYRTLE HAZARD,NaN,NMHD,Other,0.0,44.0,8.0,0.0,90.0,A,x4qu7
8849477,9106175,338926439,2021-09-30T23:29:57,13.42385,144.66368,0.0,125.1,326.0,CGC MYRTLE HAZARD,NaN,NMHD,Other,0.0,44.0,8.0,0.0,90.0,A,x4qu7
8849478,9106176,338926439,2021-09-30T23:46:26,13.42386,144.66367,0.0,125.1,326.0,CGC MYRTLE HAZARD,NaN,NMHD,Other,0.0,44.0,8.0,0.0,90.0,A,x4qu7
8849479,9106177,338926439,2021-09-30T23:53:36,13.42387,144.66366,0.0,125.1,326.0,CGC MYRTLE HAZARD,NaN,NMHD,Other,0.0,44.0,8.0,0.0,90.0,A,x4qu7

In [10]:
df.to_csv(path + 'ais_data_geohash_version3.csv')