<a href="https://colab.research.google.com/github/aparnashenoy/ml/blob/master/data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

import the libraries

In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

import the dataset

In [0]:
dataset=pd.read_csv('traindata.csv')

In [0]:
dataset.head()

   Unnamed: 0  X     HR  O2Sat  ...  Unit2  HospAdmTime  ICULOS  SepsisLabel
0           1  1   84.0   98.0  ...    0.0        -0.03     1.0          0.0
1           2  2   97.0   95.0  ...    0.0        -0.03     2.0          0.0
2           3  3   89.0   99.0  ...    0.0        -0.03     3.0          0.0
3           4  4   90.0   95.0  ...    0.0        -0.03     4.0          0.0
4           5  5  103.0   88.5  ...    0.0        -0.03     5.0          0.0

[5 rows x 41 columns]

In [0]:
X=dataset.iloc[:,2:39].values

In [0]:
y=dataset.iloc[:,40]

In [0]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.25, random_state=0)

In [0]:
from sklearn.preprocessing import StandardScaler
sc_X=StandardScaler()
X_train=sc_X.fit_transform(X_train)
X_test=sc_X.transform(X_test)